<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/home_page.css">
    <title>{{ site.title }}</title>
</head>
<body>
    <main>
        <header class="site-header">
            <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
            <nav class="site-nav">
				<a href="/" class="{% if page.url == '/' || page.url == '/' %}active{% endif %}">About</a>
                <a href="/work/" class="{% if page.url == '/work/' %}active{% endif %}">Projects</a>
                <a href="/links/" class="{% if page.url == '/links/' %}active{% endif %}">Links</a>
            </nav>
        </header>
		<section id="imageSection">
			<img src="/images/logo.png"alt="Me">
			<ul>
				<li>
					<h1>Contact</h1>
				</li>
				<li>Aaron Demond</li>
				<li>aarondemond@dal.ca</li>
				<li><a href="https://github.com/AaronDemond">GitHub</a></li>

			</ul>
		</section>
		<section style="clear: both">
			{{ content }}
		</section>

    </main>

    {% if site.google_analytics %}
    {% endif %}
</body>
</html>
